body {
  font-family: "Lalezar";
  background-image:url("background1.jpg");
}

#mySidenav a {
    position: absolute;
    left: -175px;
    transition: 0.2s;
    padding: 20px;
    width: 180px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 10px 10px 0;
}

#mySidenav a:hover {
    left: 0;
}

#about {
    top: 20px;
    background-color:  #ff8093;
}

#partner {
    top: 100px;
    background-color: #ff4d67;
}

#contact {
    top: 190px;
    background-color: #f44336;
}

#team {
    top: 260px;
    background-color: #b3001b;
}
