
body {
  font-family: "Oswald",sans-serif;
  background-image: url("4.jpg");
}
h2 {
    font-family: "edoregular";
    font-size: 70px;
}

h3 {
  font-family: "edoregular";
  font-size: 45px;


}

h4 {
  font-size: 55px;
  font-family: "Oswald",sans-serif;
  color:#ffdb4d;

}

h5{
  font-size: 20px;
  font-family: "Oswald",sans-serif;

}
#mySidenav a {
    position: absolute;
    left: -190px;
    transition: 0.2s;
    padding: 20px;
    width: 175px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 10px 10px 0;
}

#mySidenav a:hover {
    left: 0;
}

#about {
    top: 20px;
    background-color:  #ff8093;
}

#partner {
    top: 100px;
    background-color: #f44336;
}

#contact {
    top: 180px;
    background-color: #b3001b;
}

#team {
    top: 260px;
    background-color: #800013;
}
