body {
    background-image: url("test.jpg");
    font-family: 'Oswald',sans-serif;
    color: #ffab1a;
}

h1 {
    color: #ffab1a;
    text-align: center;
    font-size: 70px;
    font-family: "edoregular";
    text-decoration: none;
}
p, h2, h3 {
  color: white;
  text-align: center;
  font-size: 40px;
  font-family: "Oswald";
}

.button {
    background-color: Transparent;
    padding: 12px 24px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    color: black;
    border-radius: 5px;
    border: 2px solid white;
}
.button:hover {
    background-color: #555555;
    color: white;
  }

  #mySidenav a {
      position: absolute;
      left: -180px;
      transition: 0.2s;
      padding: 20px;
      width: 165px;
      text-decoration: none;
      font-size: 20px;
      color: white;
      border-radius: 0 10px 10px 0;
  }

  #mySidenav a:hover {
      left: 0;
  }

  #about {
      top: 20px;
      background-color:  #ff8093;
  }

  #partner {
      top: 100px;
      background-color: #f44336;
  }

  #contact {
      top: 180px;
      background-color: #b3001b;
  }

  #team {
      top: 260px;
      background-color: #800013;
  }
