body  {
    background-image: url("test.jpg");
    width: 100%;
    overflow: auto;
    font-family: "edoregular";

  }
h1{
  font-size: 18px;
  font-family: "oswald";

}

h2 {
  color: #ffdb4d;
  font-size: 60px;
}

h4 {
  color: white;
  text-align: center;
  font-family: "oswald";
  font-size: 28px;

}

h3{
  font-family:"oswald";
  font-size: 30px;

}

h5 {
  color: white;
  text-align: center;
  font-family: "oswald";
  font-size: 45px;

}
